.headContainer{
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--Light-grayish-blue);
}

.headTitle{
    padding-left: 2rem;
}

.headElementsLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    width: 50%;
    height: 16vh;
    gap: 5rem;
}

.headElementsRight{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0rem 7rem;
    width: 50%;
    height: 16vh;
    gap: 3rem;
}


.headButtons{
    display: flex;
    cursor: pointer;
    gap: 2rem;
    transition: .5s;
    height: 16vh;
}

.headButtons span{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--Dark-grayish-blue);
}
.headButtons span:hover{
    border-bottom: 5px solid var(--Orange);
    color: var(--Black);
}

.headAvatar{
display: flex;
justify-content: center;
align-items: center;
height: 3rem;
width: 3rem;
cursor: pointer;
}

.shopCart{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Dark-grayish-blue);
    cursor: pointer;
}

.shopCart img{
    position: absolute;
    z-index: 0;
}
.contCart{
    background-color: var(--Orange);
    color: var(--White);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    left: 10px;
    top: -10px;
    padding: 0px 10px;
    font-size: 12px;
}




.headAvatar img{
    width: 100%;
    height: 100%;
}

.headAvatar img:hover{
    border: 2px solid var(--Orange);
    border-radius: 50%;
}